
<h2>Index des régions from API</h2>

<div class="col-sm-6">
  <table class="table table-striped table-vertical">
    <thead>
    <tr>
      <th>Nom</th>
      <th>Code</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngIf="regionsApi.length > 0; else emptyTr"></tr>
    <tr *ngFor="let regionApi of regionsApi">
      <td>
        <a routerLink="api/region/show/{{ regionApi.code }}" class="btn">{{ regionApi.nom }}</a>
      </td>
      <td>
        {{ regionApi.code }}
      </td>
    </tr>
    </tbody>
  </table>
</div>

<ng-template #emptyTr>
  <td colspan="2">Pas de régions</td>
</ng-template>
