
<h2>Index des départements</h2>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Nom</th>
    <th>Code</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngIf="departmentService.getDepartmentsList().length > 0; else emptyTr"></tr>
  <tr *ngFor="let department of departmentService.getDepartmentsList()">
    <td>{{ department.name }}</td>
    <td>{{ department.code }}</td>
    <td>
      <a routerLink="#" class="btn btn-secondary">Voir</a>
    </td>
  </tr>
  </tbody>
</table>

<ng-template #emptyTr>
  <td colspan="2">Tableau vide</td>
</ng-template>
