<!-- stylisé avec bootstrap -->
<h2>Index des régions</h2>

<div class="col-sm-6" *ngIf="regions; else emptyTr">
  <table class="table table-striped table-vertical">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Code</th>
        <th>Nb Departements</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let guidRegion of regions">
        <td>
          <a routerLink="/region/show/{{ guidRegion.id }}" class="btn">{{ guidRegion.region.name }}</a>
        </td>
        <td>{{ guidRegion.region.code }}</td>
        <td>{{ departmentService.getDepartmentsListByCodeRegion(guidRegion.region.code).length }}</td>
        <td>
          <button class="btn" (click)="onEditRegion(guidRegion.id);">
            <fa-icon class="btn" [icon]="faPencilAlt"></fa-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <app-region-form [guid]="selectedGuid" (refreshList)="updateRegionList($event)"></app-region-form>
</div>

<ng-template #emptyTr>
    <div class="d-flex flex-column justify-content-center align-items-center">
      <mat-spinner class="mb-3"></mat-spinner>
      Récupération des régions...
    </div>
</ng-template>
