
$body-background-color: #cfcfcf;

body {
 background-color: $body-background-color;
}

.table-vertical {
  vertical-align: middle;
}

table {
  .btn {
    color: $primary;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.green-icon {
  color: green;
  &:hover {
    color: darkgreen;
  }
}
