
<div *ngIf="department; else emptyDepartment">
  <h2>{{ department.name|uppercase }}</h2>
  <table class="table table-striped w-25 table-vertical">
    <tbody>
      <tr>
        <th>Code</th>
        <td>
          {{ department.code }}
        </td>
      </tr>
      <tr>
        <th>Region</th>
        <td>
          <a routerLink="/region/show/{{ region.code }}" class="btn">{{ region.name }}</a>
        </td>
      </tr>
    </tbody>
  </table>
  <a routerLink="/department/index" class="btn btn-warning">Retour aux départements</a>
</div>

<ng-template #emptyDepartment>
  <p>Aucun département sélectionné</p>
</ng-template>
