
<h1>{{ title|uppercase }}</h1>

<!--<ul>-->
<!--  <li *ngFor="let alpha of alphabet">{{ alpha }}</li>-->
<!--</ul>-->

<app-counter></app-counter>

<!-- On utilise les attributs "angular" via [id] pour définir la valeur de l'id depuis le TS -->
<button
  *ngIf="title"
  (click)="changeTitle();"
  [textContent]="btnLabel"
  [id]="btnId"
>
</button>

<!-- stylisé avec material -->
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Nom</th>
    <td mat-cell *matCellDef="let region">{{ region.name }}</td>
  </ng-container>
  <ng-container matColumnDef="code">
    <th mat-header-cell *matHeaderCellDef>Code</th>
    <td mat-cell *matCellDef="let region">{{ region.code }}</td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<hr>
<!-- stylisé avec bootstrap -->
<table class="table table-striped">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Code</th>
    </tr>
  </thead>
  <tbody>
      <tr *ngIf="regionService.getRegionsList().length > 0; else emptyTr"></tr>
      <tr *ngFor="let region of regionService.getRegionsList()">
        <td>{{ region.name }}</td>
        <td>{{ region.code }}</td>
      </tr>
  </tbody>
</table>

<hr>
<!-- stylisé avec bootstrap -->
<table class="table table-striped">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Code</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="departmentService.getDepartmentsList().length > 0; else emptyTr"></tr>
    <tr *ngFor="let department of departmentService.getDepartmentsList()">
      <td>{{ department.name }}</td>
      <td>{{ department.code }}</td>
    </tr>
  </tbody>
</table>

<ng-template #emptyTr>
  <td colspan="2">Tableau vide</td>
</ng-template>

