
<h1>{{ title|uppercase }}</h1>

<p>Rory fait du vélo</p>

<ul>
  <li *ngFor="let alpha of alphabet">{{ alpha }}</li>
</ul>

<button
  *ngIf="title"
  (click)="changeTitle();"
  [textContent]="btnLabel"
  [id]="btnId"
>
</button>

<!--<table mat-table [dataSource]="regions">-->
<!--</table>-->

<table>
  <thead>
    <tr>
      <th>Nom</th>
      <th>Code</th>
    </tr>
  </thead>
  <tbody>
      <tr *ngIf="regions.length > 0; else emptyTr"></tr>
      <tr *ngFor="let region of regions">
        <td>{{ region.name }}</td>
        <td>{{ region.code }}</td>
      </tr>
  </tbody>
</table>

<ng-template #emptyTr>
  <td colspan="2">Aucune région</td>
</ng-template>
