

<div class="app-wrapper">
  <div class="header">
    <h1>{{ title|uppercase }}</h1>
  </div>

  <div class="container main-content">
    <!-- Bien l'ajouter dans le component d'où vous utilisez les routes -->
    <router-outlet></router-outlet>
  </div>

  <div class="footer">
    ADREC Formation - Angular
  </div>
</div>

<!--<ul>-->
<!--  <li *ngFor="let alpha of alphabet">{{ alpha }}</li>-->
<!--</ul>-->

<!-- On utilise un component exterieur qui sera appelé ici -->
<!--<app-counter></app-counter>-->

<!-- On utilise les attributs "angular" via [id] pour définir la valeur de l'id depuis le TS -->
<!--<button-->
<!--  *ngIf="title"-->
<!--  (click)="changeTitle();"-->
<!--  [textContent]="btnLabel"-->
<!--  [id]="btnId"-->
<!--&gt;-->
<!--</button>-->


